body{margin :0
}

.buscar-producto{
    width: 33.33%;
}
.header-busqueda{
    width: 90%;
    margin: 0 auto;
    color : white;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header-main{
    background-color: #222121;
    height: 100px;
    display: flex;
    margin: auto;
    align-items: center;
}
.logo{
    width: 33.33%;
    display: flex;
    justify-content: center;
}
.logo img{
    height: 50px;
    width: 50px;
}
.header-registro{
    width: 33.33%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    font-size: 1.6rem;

}
.registro{
    display: flex;
    align-items: center;
    
}
.registro p,h6{
    margin: 0;
    font-size: 1rem;
}
.registro p{
    size: 5px;
    font-size: 0.8rem;
}



#barraBusqueda{
    height: 40px;
    width: 70%;
}
.header-two{
    background-color: #ffffff;
    border: 1px solid #3333331A;
    color: #333333;
}
.header-nav{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    width: 90%;
    
}
a:visited, a{
      list-style: none;
    text-decoration: none; 
    color: white;
}
.header-nav nav a,.header-nav nav a:visited{
   
    color: #333333;
}
/*===========================================================================================================
carrito
============================================================================================================*/
.header-carrito a:hover , .navegacion:hover{
    color: #c4c4c4;
    
}
.navegacion:hover{
    cursor: pointer;
    background-color:#c4c4c4 ;
}
.contenedor-carrito{
    display: none;
}
.contenedor-carrito div{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
/*cada vez que pasamos el cursor arriba del carrito se va a mostrar todos los productos que fueron agregados al carrito */
.header-carrito a:hover .contenedor-carrito{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    position: fixed;
    align-items: center;
    right: 0;
    top: 0;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    border: 2px solid  #3333331A;
    width: 45%;
    height: max-content; 
    color: black;
}

#carrito{
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 flex-direction: column;
}
#carrito ul{
    
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: 5px auto;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    gap: 5px;
}
.bloque-carrito{
     width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    border-radius: 5px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.bloque-carrito div{
    margin: 5px;
    display: flex;
    height: 100%;
    justify-content: flex-start;
    gap: 5px;
    align-items: center;
        
}
.bloque-carrito img{
    width: 70px;
    height: 50px;
}
.vacio{
    padding: 50px;
    margin:  auto;
    font-size: small;
}
/*===========================================================================================================
tarjetas productos
============================================================================================================*/
/**/
.card-producto{
    margin: 5px;
    display: flex;
    height: 300px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    border: 1px solid ;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#contenedorProducto{
    margin:5px auto;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
     gap: 20px;
    border: 2px solid turquoise;
    justify-content: space-around;
    width: 95%;
    height: fit-content;
    margin-top:10px; 
    

}

#contenedorProducto img{
    width: 100px;
    height: 120px;
}