body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header{
    display: flex;
    flex-direction: column;
    text-align: center;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

ul{
    list-style-type: lower-greek;
}